<!--Content start-->
<h1 class="h2">Avances de: Alejandra Iturra</h1>
<hr style="color:#4E95BF">
<h3>Proyecto: A Neurolinguistic Programming Applied To The Mediation.</h3>

<div class="container">
    <div class="accordion shadow" id="accordionPanelsStayOpenExample">
        <form>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <i class="bi bi-plus-circle"></i>
                        03/10/22 Avance en reconocimiento de img / python 2
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row ">
                            <div class="col-5 px-4 p-4">
                                <label class="form-label p-4"><strong>Archivo:</strong> avance_01-10.pdf</label>
                                <button class="btn btn-primary gx-3 px-4" type="submit">Descargar</button>

                            </div>
                            <div class="col-7 px-4">
                                <label class="form-label"><strong>Comentario:</strong> </label>
                                <p class="text-break shadow p-4">Plis arregla esto, se supone que eres un ingeniero no?
                                    Esto esta al nivel de un estudiante de liceo. Como me siga
                                    llegando este tipo de “avances“, tendre que hablar con
                                    la Rut.
                                    Si solo dependiera de mi te repruebo. Ok</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4 px-5 d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                        <i class="bi bi-plus-circle"></i>
                        22/09/22 Avance lenguajes de libre contexto / lambda
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <div class="row ">
                            <div class="col-5 px-4 p-4">
                                <label class="form-label p-4"><strong>Archivo:</strong> avance_22-09.pdf</label>
                                <button class="btn btn-primary gx-3 px-4" type="submit">Descargar</button>

                            </div>
                            <div class="col-7 px-4">
                                <label class="form-label"><strong>Comentario:</strong> </label>
                                <p class="text-break shadow p-4">No funciona el codigo, favor de corregir.
                                    Como minimo se pide que testee antes de subir. Como llegaste a curso??
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4 px-5 d-flex flex-row-reverse">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>