<header>
    <!-- Navbar horizontal start-->
    <nav class="navbar ">
        <div class="container text-center" style="color: #fff; background-color: rgb(241, 92, 92);">
            En modo de Desarrollo, algunos componentes pueden estar aún en construcción.
        </div>
    </nav>

    <nav class="navbar navbar-light bg-light shadow ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-pc-display"></i>
                Agendux
            </a>
        </div>
    </nav>
    <!-- Navbar horizontal end-->
</header>


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar vertical start-->
        <nav id="vertical" class="col-md-3 col-lg-2 d-md-block bg-light sidebar shadow collapse">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li> <a href="#" class="nav-link py-3 border-bottom" [routerLink]="['home']">
                        <i class="bi bi-ubuntu"></i>
                        <small>Home</small> </a>
                </li>
                <li> <a href="#" class="nav-link py-3 border-bottom" [routerLink]="['profs']">
                        <i class="bi bi-ev-station"></i>
                        <small>Estudiantes</small> </a>
                </li>
                <li> <a href="#" class="nav-link py-3 border-bottom" [routerLink]="['fichc']">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <small>Proyecto</small> </a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar vertical end-->

        <!--Content start-->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">


            <!--Simple Page Aplication-->
            <router-outlet></router-outlet>



        </main>
        <!--Content end-->
    </div>
</div>

<!--footer start-->
<footer class="pt-5 d-flex justify-content-center">
    <span>Copyright © 2022 <a href="#">Agendux </a></span>
</footer>
<!--footer end-->